<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Portfolio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>










 </style>

</head>

<!-- #This is the AI page -->
<body>
    <header class="bg-dark text-white header">
        <a style="align-content:end; color: aliceblue;" href="/" >Home</a>
      
                        
        <div class="container text-center">
            
            <h1 style="font-style: italic;">Artificial Intelligence</h1>
            <p>
                Artificial intelligence (AI) has revolutionized the medical field, bringing significant advancements in cancer research and drug discovery. In cancer research, AI algorithms are employed to analyze vast amounts of data, including medical records, genetic information, and imaging data, to identify patterns and predict cancer progression. AI-powered tools enhance early detection and diagnosis by accurately interpreting medical images, such as mammograms and MRIs, leading to timely and effective treatments. Moreover, AI assists in the identification of potential biomarkers and genetic mutations associated with various cancers, paving the way for personalized treatment plans tailored to individual patients.
            
                In drug discovery, AI accelerates the development of new therapies by predicting the efficacy and safety of drug candidates. Machine learning models analyze chemical structures and biological data to identify promising compounds, significantly reducing the time and cost involved in traditional drug development. AI-driven simulations and virtual screening methods enable researchers to explore a vast chemical space, identifying potential drug candidates with high precision. Additionally, AI aids in optimizing drug formulations and predicting potential side effects, ensuring the development of safer and more effective medications. Overall, AI's integration into cancer research and drug discovery holds immense potential for improving patient outcomes and advancing medical science.
            </p>
            
         
        </div>
    </header>

    <section class="services">
        <h1 style="text-align: center;"><b>Portfolio</b> </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="text-align: center;">Machine Learning</h2>
                            <ul class="list-group list-group-flush">
                                <li class = "mb-3"> <h6>Created an XGBRegressor algorithm to predict IC50 values of compounds against HMG-CoA reductase for assessing drug potency. HMG-CoA reductase is a key enzyme in cholesterol biosynthesis, and inhibiting it can help treat hypercholesterolemia and cardiovascular diseases.
                                    <a href="https://github.com/Olabuntu/HMG-COA/blob/main/work.ipynb">View Code</a>
                                </li>

                                <li class = "mb-3"><h6>Developed a RandomForestRegressor model to predict the IC50 values of compounds against COX-2 for assessing drug potency. COX-2 is an enzyme involved in the inflammation process, and inhibiting it can help treat conditions like arthritis and reduce inflammation-related pain.
                                    <a href="https://github.com/Olabuntu/Machine-Learning/blob/main/COX2_DATA/Cox2_code.ipynb">View Code</a>

                                </li>

                                <li class = "mb-3"><h6>Built an algorithm to detect FASTag fraud. The model analyzes transaction patterns to identify fraudulent activities and prevent financial losses in electronic toll collection systems.
                                    <a href="https://github.com/Olabuntu/Mentorness/blob/main/Fastag/work.ipynb">View Code</a>
                                </li>

                                <li class = "mb-3"><h6>Developed a LogisticRegression classification model to detect if a patient has diabetes. This model analyzes patient data to classify individuals as diabetic or non-diabetic, aiding in early diagnosis and management of the disease.
                                <a href="https://github.com/Olabuntu/Machine-Learning/blob/main/Diabetes_Data/cod.ipynb">View Code</a>
                                </li>
                                <li><h6>Created a predictive algorithm for estimating professionals' salaries based on various factors such as education, experience, industry, and location. This model helps in understanding salary trends and guiding career decisions.
                                    <a href="https://github.com/Olabuntu/Mentorness/blob/main/Salary%20prediction/Project1.ipynb">View Code</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="text-align: center;">Deep Learning</h2>
                            <ul class="list-group">
                                <li class="mb-3"><h6>Developed a Convolutional Neural Network (CNN) model for image classification. The model classifies images into different categories based on their features, enabling applications in object recognition, medical imaging, and autonomous vehicles. Specifically, I used CNN to create a classifier that takes in MRI scans of the brain and classifies whether they indicate the presence of a tumor or not.
                                    <a href="https://github.com/Olabuntu/DEEP-LEARNING/blob/main/CNN/Brain_tumor.ipynb">View Code</a>
                            </li>
                            <li class="mb-3"><h6>Developed a Neural Network (NN) model for predicting IC50 values of inhibitors against the HMG-CoA enzyme, with the goal of treating hypercholesterolemia. The model utilizes deep learning techniques to analyze molecular features and predict the potency of potential inhibitors. By training the NN on a dataset of known inhibitors and their corresponding IC50 values, the model provides accurate predictions that are valuable for drug discovery and development, particularly in identifying compounds with high efficacy in targeting the HMG-CoA enzyme to manage cholesterol levels and related cardiovascular diseases.

                                <a href="https://github.com/Olabuntu/DEEP-LEARNING/blob/main/NN/hmg.ipynb">View Code</a>
                            </li>
                            <li><h6>Developed a Neural Network (NN) model for classifying breast tumors as malignant or benign based on clinical and pathological data. The model utilizes advanced deep learning techniques to analyze various features such as tumor size, histological characteristics, and patient demographics. By training the NN on a comprehensive dataset of labeled tumor cases, the model accurately differentiates between malignant and benign tumors. This classification capability enhances diagnostic accuracy and aids clinicians in making informed decisions for effective treatment and patient management.
                                <a href="https://github.com/Olabuntu/DEEP-LEARNING/blob/main/NN/Breat_cancer.ipynb">View Code</a>
                                
                            </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                
                        <h2 class="card-title">MODULES</h2>
                        <h4>Pytorch, Scikit-learn, Pandas, Numpy, Matplotlib, Seaborn </h4>
                        </div>
                        </div>
                
    {% include 'footer.html'%}
                    
    </div>  
















































</html>