<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation Portfolio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<!-- #This is the Automation page -->

<body>
    <header class="bg-dark text-white header">
        <a style="align-content:end; color: aliceblue;" href="/" >Home</a>
        
                        
        <div class="container text-center">
            
            <h1 style="font-style: italic;">AUTOMATION AND WEB SCRAPING</h1>
            <p>
                Automation and web scraping are essential techniques in the modern data-driven world, particularly for gathering large datasets from various sources. Automation refers to using scripts or programs to perform repetitive tasks without human intervention, significantly increasing efficiency and accuracy. Web scraping involves extracting data from websites using automated tools, allowing researchers to collect information that is not readily available in structured formats.
                
                In my line of work, automation and web scraping play a pivotal role in obtaining data from online databases or websites. This data is crucial for building predictive models, conducting research, and gaining insights into various biological and computational problems. For example, web scraping can be used to gather information on chemical compounds, genetic sequences, or clinical trial results from public databases, which can then be used to train machine learning models for drug discovery, disease prediction, and other applications.
            
                By automating the data collection process, I can focus more on analyzing the data and developing innovative solutions. These techniques help streamline workflows, reduce manual errors, and ensure that the data used for model building is comprehensive and up-to-date. Overall, automation and web scraping are invaluable tools for enhancing productivity and advancing research in bioinformatics, machine learning, and related fields.
            </p>
        </header>

            <div class="container">
                <h1 style="text-align: center;"><b>Portfolio</b> </h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title" style="text-align: center;">Web Scraping</h2>
                                <ul class="list-group">
                                    <li class="mb-3">
                                        <h6> Developed a web scraping script using Python and Selenium to extract cell line data from the Way2Drug website. The script automates the navigation of the Way2Drug site, retrieves cell line information, and saves it in a structured format for further analysis. Web scraping enables the collection of essential cell line properties, experimental data, and related biological activities, which are crucial for drug discovery, cancer research, and other biomedical studies.
                                        <a href="https://github.com/Olabuntu/BIOLOGICAL_CODES/blob/main/Cell_line_info_Way2Drug.py">View code</a>
                                    </li>
                                    <li class="mb-3">
                                       <h6> Developed a web scraping script using Python and Selenium to extract compound IDs, SMILES, and other relevant information from the PubChem database. The script automates the navigation of the PubChem website, retrieves detailed compound information, and saves it in a structured format for further analysis. This web scraping approach facilitates the collection of chemical properties, molecular structures, and biological activities of compounds, which are essential for drug discovery and computational chemistry research.
                                        <a href="https://github.com/Olabuntu/BIOLOGICAL_CODES/blob/main/Canonical_smile.py">View code</a>
                                    </li>
                                    <li class="mb-3">
                                       <h6> Developed a web scraping script using Python and Selenium to extract product information from the Jumia e-commerce website. The script automates the navigation of the Jumia site, retrieves details such as product names, prices, ratings, and reviews, and saves the data in a structured format for further analysis. This web scraping approach enables the collection of comprehensive product data, which can be used for market analysis, price comparison, and other e-commerce research activities.
                                        <a href="https://github.com/Olabuntu/EXTRACTION_AND_AUTOMATION/blob/main/jumia_data.py">View code</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title" style="text-align: center;">Automation</h2>
                                <ul class="list-group">
                                    <li class="mb-3">
                                       <h6> Created an offline automation script to streamline the conversion of files from SDF to PDB format using Discovery Studio. The script automates the file conversion process, significantly reducing manual effort and minimizing the risk of errors. By handling routine file transformations efficiently, the automation enhances productivity and allows researchers to concentrate on more complex analytical tasks.
                                        <a href="https://github.com/Olabuntu/EXTRACTION_AND_AUTOMATION/blob/main/discovery_studio.py">View code</a>
                                    </li>
                                    <li class="mb-3">
                                    <h6> Developed an online automation script to efficiently download multiple compounds from the PubChem database in bulk, eliminating the need to download each compound individually. The script streamlines the data retrieval process, significantly saving time and reducing manual effort. By automating bulk downloads, the script enhances research efficiency and allows researchers to focus on analyzing and utilizing the data rather than spending time on repetitive tasks.
                                        <a href="https://github.com/Olabuntu/BIOLOGICAL_CODES/blob/main/Pubchem_download.py">View code</a>
                                    </li>
                                    <li class="mb-3">
                                       <h6> Developed a bulk email automation script to send personalized emails to multiple users simultaneously. The script efficiently manages email distribution, reducing the time and effort required to send messages individually. By automating the email process, it ensures consistency and accuracy in communication, allowing users to focus on content creation and strategy rather than manual outreach tasks.
                                        <a href="https://github.com/Olabuntu/Basics/blob/main/Sending_email.py">View code</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container">
           
            <div class="row">
                <div class="col-md-6 mt-4 mb-4">
                            <h2 class="card-title">MODULES</h2>
                            <h4>Selenium, BS4, Pyautogui, Email, Pubchempy</h4>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}

        </div>

                                    
                                                                    
                                    
            

















</body>
</html>