<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; <b>2024 OLABUNTU, Inc</b></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a href="https://github.com/Olabuntu">
            <img src="./static/github.svg" alt="facebook" width="25" height="25" style="margin-left: 10px;">
        </a>
      
        <a href="www.linkedin.com/in/babatunde-olabuntu-1a2b49282">
            <img src="./static/linkedin.svg" alt="linkedin" width="25" height="25" style="margin-left: 10px;">
        </a>
        <a href="https://wa.link/iwcbyy">
            <img src="./static/whatsapp.svg" alt="whatsapp" width="25" height="25" style="margin-left: 10px;">
        </a>
       
        <a href="mailto:olabuntubabatunde@gmail.com">
            <img src="./static/Gmail.svg" alt="mail" width="25" height="25" style="margin-left: 10px;">
        </a>
    </ul>
  </footer>