<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Portfolio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>





</style>

</head>

<body>
    
        <header class="bg-dark text-white header">
            <a style="align-content:end; color: aliceblue;" href="/" >Home</a>
            
                            
            
            <div class="container text-center">
                
                <h1 style="font-style: italic;">Web Development and Database Manipulation</h1>
                <p>
                    Web development involves creating and maintaining websites using technologies like HTML, CSS, and JavaScript for the front end, and server-side languages like Python and PHP for the back end. SQL is used for managing and querying relational databases to handle user data efficiently. 
                    <br><br>
                    Web platforms can deploy Machine Learning (ML) and Deep Learning (DL) algorithms, making advanced AI models accessible to the public. By integrating ML and DL models into web applications using frameworks like Flask and Django, developers can provide real-time predictive tools and services to users, democratizing technology.
                </p>
                
                
            
            </div>
        </header>
    
        <section class="services">
    
            <h1 style="text-align: center;"><b>Portfolio</b> </h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto" >
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title" style="text-align: center;">Web Development and SQL</h2>
                                <ul class="list-group">
                                    <li class="mb-4"><h6>
                                        I built a job search website using HTML, CSS, and Flask to displays tech jobs on its home page and connects to an SQL database for storing applicant information and CVs. The jobs listed on the home page are also retrieved from the database.
                                        <a href="https://github.com/Olabuntu/Web-Development-/tree/main/Job_search">View Project</a>
                                    </li>
                                    <li class="mb-4"><h6>
                                        Created a personal website using HTML, CSS, and Flask to showcase my work, passion, and growth. The website features sections for my portfolio, blog, and contact information. It highlights my projects, skills, and achievements, providing a comprehensive overview of my professional journey.
                                        <a href="https://github.com/Olabuntu/Web-Development-/tree/main/Personal_website">View code</a>
                                    </li>
                                    <li class="mb-4"><h6>
                                        Developed a voting site for my faculty using Streamlit to ensure a smooth and efficient voting process. The site features a user-friendly interface that allows students and faculty members to cast their votes securely and anonymously. The platform also includes real-time vote counting and result display, ensuring transparency and trust in the voting process. This project demonstrates my ability to build functional and impactful web applications that address real-world needs.
                                        <a href="https://github.com/Olabuntu/Bic_Election/blob/main/cod.py">View code</a>
                                    </li>
                                    

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container mt-4">
                
            <div class="row">
                <div class="col-md-6">
                    
                            <h2 class="card-title">LANGUAGE AND MODULES</h2>
                            <h4>HTML, CSS, SQL, SQLAlchemy, Flask, Mysql, Stramlit</h4>
                            </div>
                            </div>
                   {% include 'footer.html' %}
                </div>

    
    







</body>
























</html>